
USE [ERPS_DB]
GO
/****** Object:  Table [dbo].[AdvanceEntry]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvanceEntry](
	[AdvanceID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Deduction] [decimal](18, 2) NULL,
	[WorkingDate] [datetime] NULL,
 CONSTRAINT [PK_AdvanceEntry] PRIMARY KEY CLUSTERED 
(
	[AdvanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Attendance_ID] [int] NULL,
	[Status] [nchar](10) NULL,
	[Admission_No] [nchar](50) NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttendanceMaster]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceMaster](
	[AttendanceID] [int] NOT NULL,
	[AttendanceDate] [datetime] NULL,
	[StaffID] [int] NULL,
	[SubjectID] [int] NULL,
 CONSTRAINT [PK_AttendanceMaster] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[AccessionNo] [nchar](150) NOT NULL,
	[BookTitle] [nvarchar](250) NULL,
	[EntryDate] [datetime] NULL,
	[Author] [nvarchar](250) NULL,
	[JointAuthors] [nvarchar](250) NULL,
	[SubCategoryID] [int] NULL,
	[Barcode] [nchar](150) NULL,
	[ISBN] [nchar](150) NULL,
	[Volume] [nchar](150) NULL,
	[Edition] [nchar](150) NULL,
	[Publisher] [nchar](200) NULL,
	[PlaceOfPublisher] [nchar](200) NULL,
	[PublishingYear] [nchar](50) NULL,
	[Section] [nchar](150) NULL,
	[Language] [nchar](150) NULL,
	[Price] [decimal](18, 2) NULL,
	[SupplierID] [int] NULL,
	[BillNo] [nchar](150) NULL,
	[BillDate] [datetime] NULL,
	[Condition] [nchar](100) NULL,
	[Status] [nchar](100) NULL,
	[Remarks] [nvarchar](250) NULL,
	[NoOfPages] [int] NULL,
	[BookPosition] [nchar](150) NULL,
	[BarcodeImage] [image] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[AccessionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book_RI]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_RI](
	[IssueID] [int] NOT NULL,
	[ReservationID] [int] NOT NULL,
 CONSTRAINT [PK_Book_RI] PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookIssue_Staff]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssue_Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IssueDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[AccessionNo] [nchar](150) NULL,
	[StaffID] [int] NULL,
	[Status] [nchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_BookIssue_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookIssue_Student]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssue_Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IssueDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[AccessionNo] [nchar](150) NULL,
	[AdmissionNo] [nchar](50) NULL,
	[Status] [nchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_BookIssue_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookReservation]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReservation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccessionNo] [nchar](150) NULL,
	[StaffID] [int] NULL,
	[R_Date] [datetime] NULL,
	[Status] [nchar](100) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_BookReservation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BooksCategory]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nchar](200) NULL,
	[Classification] [nvarchar](300) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BooksSubCategory]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksSubCategory](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [nchar](200) NULL,
	[Category_ID] [int] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bus]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[BusID] [int] IDENTITY(1,1) NOT NULL,
	[BusNo] [nchar](100) NULL,
	[DriverName] [nchar](100) NULL,
	[ContactNo] [nchar](20) NULL,
	[SupporterName] [nchar](100) NULL,
	[Scontactno] [nchar](20) NULL,
 CONSTRAINT [PK_Bus] PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BusFeesPayment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BusFeesPayment](
	[BFP_ID] [int] NOT NULL,
	[MaxID] [nchar](30) NULL,
	[Session] [nvarchar](30) NULL,
	[Installment] [nchar](30) NULL,
	[TotalFee] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_TotalFee]  DEFAULT ((0.00)),
	[DiscountPer] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_DiscountPer]  DEFAULT ((0.00)),
	[DiscountAmt] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_DiscountAmt]  DEFAULT ((0.00)),
	[PreviousDue] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_PreviousDue]  DEFAULT ((0.00)),
	[Fine] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_Fine]  DEFAULT ((0.00)),
	[GrandTotal] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_GrandTotal]  DEFAULT ((0.00)),
	[TotalPaid] [decimal](18, 2) NULL CONSTRAINT [DF_BusFeesPayment_TotalPaid]  DEFAULT ((0.00)),
	[ModeOfPayment] [nchar](100) NULL,
	[PaymentModeDetails] [varchar](250) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentDue] [decimal](18, 2) NULL,
	[BusHolder_ID] [int] NULL,
	[Location] [nchar](150) NULL,
	[School] [varchar](250) NULL,
	[Classname] [nvarchar](50) NULL,
	[Section] [nvarchar](30) NULL,
 CONSTRAINT [PK_BusFeesPayment] PRIMARY KEY CLUSTERED 
(
	[BFP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BusInstallment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusInstallment](
	[InstallmentID] [int] IDENTITY(1,1) NOT NULL,
	[Installment] [nchar](30) NULL,
	[Charges] [decimal](18, 2) NULL,
	[Location_ID] [int] NULL,
 CONSTRAINT [PK_BusInstallment] PRIMARY KEY CLUSTERED 
(
	[InstallmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Class]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NULL,
	[ClassType_ID] [int] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classifications]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classifications](
	[Classification] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Classifications] PRIMARY KEY CLUSTERED 
(
	[Classification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassSection]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSection](
	[ClassSectionID] [int] IDENTITY(1,1) NOT NULL,
	[Class_ID] [int] NULL,
	[Section_ID] [int] NULL,
 CONSTRAINT [PK_ClassSection] PRIMARY KEY CLUSTERED 
(
	[ClassSectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassTypes]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassTypes](
	[ClassTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ClassType] [nvarchar](250) NULL,
 CONSTRAINT [PK_ClassTypes] PRIMARY KEY CLUSTERED 
(
	[ClassTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseFeePayment_Join]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseFeePayment_Join](
	[CFID] [int] IDENTITY(1,1) NOT NULL,
	[FeeId] [int] NULL,
	[Fee] [decimal](18, 2) NULL CONSTRAINT [DF_CourseFeePayment_Join_Fee]  DEFAULT ((0.00)),
	[Month] [nchar](50) NULL,
	[SF_PaymentID] [int] NULL,
 CONSTRAINT [PK_CourseFeePayment_Join] PRIMARY KEY CLUSTERED 
(
	[CFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[DesignationID] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [nvarchar](200) NULL,
 CONSTRAINT [PK_Designations] PRIMARY KEY CLUSTERED 
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doc]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doc](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[Document_Name] [nvarchar](150) NULL,
	[Admission_No] [nchar](50) NULL,
 CONSTRAINT [PK_Doc] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DocumentMaster]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentMaster](
	[DocumentName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_DocumentMaster_1] PRIMARY KEY CLUSTERED 
(
	[DocumentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EMPID] [int] NOT NULL,
	[EMPMAXID] [nchar](30) NULL,
	[EmployeeName] [nvarchar](100) NULL,
	[Gender] [nchar](10) NULL,
	[DOB] [nvarchar](30) NULL,
	[FatherName] [nvarchar](100) NULL,
	[MotherName] [nvarchar](100) NULL,
	[ContactNo] [nchar](15) NULL,
	[DateOfJoining] [datetime] NULL,
	[Email] [nchar](30) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Department_ID] [int] NULL,
	[Designation_ID] [int] NULL,
	[Salary] [decimal](18, 2) NULL,
	[Status] [nchar](30) NULL,
	[Religion] [nvarchar](100) NOT NULL,
	[BloodGroup] [nvarchar](40) NULL,
	[Photo] [image] NULL,
	[Discount] [decimal](18, 2) NULL CONSTRAINT [DF_Employee_Discount]  DEFAULT ((0.00)),
	[SchoolID] [int] NULL,
	[AccountName] [nchar](150) NULL,
	[AccountNumber] [nchar](100) NULL,
	[Bank] [varchar](250) NULL,
	[Branch] [nchar](150) NULL,
	[IFSCcode] [nchar](100) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExamMaster]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamMaster](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](max) NULL,
	[ExamType] [nvarchar](100) NULL,
 CONSTRAINT [PK_ExamMaster] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamSchedule]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSchedule](
	[ScheduleID] [int] NOT NULL,
	[ExamID] [int] NULL,
	[School_ID] [int] NULL,
	[Session_ID] [int] NULL,
	[ClassSection_ID] [int] NULL,
 CONSTRAINT [PK_ExamSchedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Fee]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Feename] [varchar](250) NULL,
 CONSTRAINT [PK_Fee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [nvarchar](50) NULL,
	[ScoreFrom] [decimal](18, 2) NULL CONSTRAINT [DF_Grades_ScoreFrom]  DEFAULT ((0.00)),
	[ScoreTo] [decimal](18, 2) NULL CONSTRAINT [DF_Grades_ScoreTo]  DEFAULT ((0.00)),
	[Remark] [nvarchar](250) NULL,
	[GradePoint] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hostel]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hostel](
	[HostelID] [int] IDENTITY(1,1) NOT NULL,
	[Hostelname] [nchar](150) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nchar](15) NULL,
	[Mobile] [nchar](15) NULL,
	[Incharge] [nchar](100) NULL,
 CONSTRAINT [PK_HostelInfo] PRIMARY KEY CLUSTERED 
(
	[HostelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hosteler]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hosteler](
	[HostelerID] [int] IDENTITY(1,1) NOT NULL,
	[Admission_No] [nchar](50) NULL,
	[Hostel_ID] [int] NULL,
	[JoiningDate] [datetime] NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_Hosteler] PRIMARY KEY CLUSTERED 
(
	[HostelerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HostelFeesPayment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HostelFeesPayment](
	[HFP_ID] [int] NOT NULL,
	[MaxID] [nchar](30) NULL,
	[HostelNames] [nvarchar](max) NULL,
	[Hosteler_ID] [int] NULL,
	[Session] [nvarchar](30) NULL,
	[Installment] [nchar](30) NULL,
	[TotalFee] [decimal](18, 2) NULL,
	[DiscountAmt] [decimal](18, 2) NULL,
	[PreviousDue] [decimal](18, 2) NULL,
	[Fine] [decimal](18, 2) NULL,
	[GrandTotal] [decimal](18, 2) NULL,
	[TotalPaid] [decimal](18, 2) NULL,
	[ModeOfPayment] [nchar](100) NULL,
	[PaymentModeDetails] [varchar](250) NULL,
	[Paymentdate] [datetime] NULL,
	[PaymentDue] [decimal](18, 2) NULL,
	[School] [varchar](250) NULL,
	[Classname] [nvarchar](50) NULL,
	[Section] [nvarchar](30) NULL,
	[DiscountPer] [decimal](18, 2) NULL,
 CONSTRAINT [PK_HostelFeesPayment] PRIMARY KEY CLUSTERED 
(
	[HFP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HostelInstallment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostelInstallment](
	[IHID] [int] IDENTITY(1,1) NOT NULL,
	[Installment] [nchar](30) NULL,
	[Charges] [decimal](18, 2) NULL,
	[Hostel_ID] [int] NULL,
	[Class_ID] [int] NULL,
	[School_ID] [int] NULL,
 CONSTRAINT [PK_HostelInstallment] PRIMARY KEY CLUSTERED 
(
	[IHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JM]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JM](
	[SubNo] [nchar](200) NOT NULL,
	[Title] [nchar](200) NULL,
	[SubscriptionDate] [datetime] NULL,
	[Subscription] [nchar](100) NULL,
	[SubscriptionDateFrom] [datetime] NULL,
	[SubscriptionDateTo] [datetime] NULL,
	[SupplierID] [int] NULL,
 CONSTRAINT [PK_JM_1] PRIMARY KEY CLUSTERED 
(
	[SubNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JMB]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JMB](
	[JMBID] [int] IDENTITY(1,1) NOT NULL,
	[Sub_No] [nchar](200) NULL,
	[BillNo] [nchar](200) NULL,
	[BillDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidON] [datetime] NULL,
	[IssueNo] [nchar](100) NULL,
	[Month] [nchar](30) NULL,
	[Year] [nchar](20) NULL,
 CONSTRAINT [PK_JMB] PRIMARY KEY CLUSTERED 
(
	[JMBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] NOT NULL,
	[Location] [nchar](150) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nchar](150) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Operation] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MarksEntry]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarksEntry](
	[M_ID] [int] NOT NULL,
	[AdmissionNo] [nchar](50) NULL,
	[StudentSchool] [nvarchar](250) NULL,
	[Session] [nvarchar](100) NULL,
	[StudentClass] [nvarchar](150) NULL,
	[StudentSection] [nvarchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[Result] [nchar](20) NULL,
 CONSTRAINT [PK_MarksEntry] PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MarksEntry_Join]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarksEntry_Join](
	[TBID] [int] IDENTITY(1,1) NOT NULL,
	[MarksID] [int] NOT NULL,
	[Subject_ID] [int] NOT NULL,
	[MaxMarks] [decimal](18, 2) NOT NULL CONSTRAINT [DF_MarksEntry_Join_MaxMarks]  DEFAULT ((0.00)),
	[MMPractical] [decimal](18, 2) NOT NULL CONSTRAINT [DF_MarksEntry_Join_MMPractical]  DEFAULT ((0.00)),
	[CreditHours] [decimal](18, 2) NOT NULL CONSTRAINT [DF_MarksEntry_Join_CreditHours]  DEFAULT ((0.00)),
	[OMTheory] [decimal](18, 2) NOT NULL CONSTRAINT [DF_MarksEntry_Join_OMTheory]  DEFAULT ((0.00)),
	[OMPractical] [decimal](18, 2) NOT NULL CONSTRAINT [DF_MarksEntry_Join_OMPractical]  DEFAULT ((0.00)),
	[OGTheory] [nvarchar](10) NULL,
	[OGPractical] [nvarchar](10) NULL,
	[FinalGrade] [nvarchar](50) NULL,
	[GradePoint] [decimal](18, 2) NOT NULL CONSTRAINT [DF_MarksEntry_Join_GradePoint]  DEFAULT ((0.00)),
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_MarksEntry_Join] PRIMARY KEY CLUSTERED 
(
	[TBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Result]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultID] [int] NOT NULL,
	[ScheduleID] [int] NULL,
	[SubjectID] [int] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resulting]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resulting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Result_ID] [int] NULL,
	[AdmissionNo] [nchar](50) NULL,
	[Marks] [decimal](18, 2) NULL,
	[Absent] [nvarchar](10) NULL,
 CONSTRAINT [PK_Resulting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Return_Staff]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NULL,
	[ReturnDate] [datetime] NULL,
	[Fine] [decimal](18, 2) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_Return_Staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Return_Student]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Student](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NULL,
	[ReturnDate] [datetime] NULL,
	[Fine] [decimal](18, 2) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_Return_Student] PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Scheduling]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scheduling](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExamDate] [datetime] NULL,
	[MaxMarks] [decimal](18, 2) NULL,
	[MinMarks] [decimal](18, 2) NULL,
	[StartTime] [nvarchar](30) NULL,
	[EndTime] [nvarchar](30) NULL,
	[Subject_ID] [int] NULL,
	[Schedule_ID] [int] NULL,
 CONSTRAINT [PK_Scheduling] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[School]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[School](
	[SchoolID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [varchar](250) NULL,
	[Address] [varchar](250) NULL,
	[ContactNo] [nchar](15) NULL,
	[Email] [nchar](30) NULL,
	[Fax] [nchar](50) NULL,
	[Website] [nchar](60) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[Photo] [image] NULL,
	[Category_ID] [int] NULL,
 CONSTRAINT [PK_Schoolnfo] PRIMARY KEY CLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SchoolFees]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolFees](
	[SchoolFeeID] [int] IDENTITY(1,1) NOT NULL,
	[Class_ID] [int] NULL,
	[FeeID] [int] NULL,
	[Fee] [decimal](18, 2) NULL,
	[Month] [nchar](30) NULL,
	[School_ID] [int] NULL,
 CONSTRAINT [PK_CourseFee] PRIMARY KEY CLUSTERED 
(
	[SchoolFeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SchoolFeesPayment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchoolFeesPayment](
	[SFP_ID] [int] NOT NULL,
	[MaxID] [nchar](30) NULL,
	[Admission_No] [nchar](50) NULL,
	[Session] [nvarchar](30) NULL,
	[TotalFee] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_TotalFee]  DEFAULT ((0.00)),
	[DiscountPer] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_DiscountPer]  DEFAULT ((0.00)),
	[DiscountAmt] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_DiscountAmt]  DEFAULT ((0.00)),
	[PreviousDue] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_PreviousDue]  DEFAULT ((0.00)),
	[Fine] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_Fine]  DEFAULT ((0.00)),
	[GrandTotal] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_GrandTotal]  DEFAULT ((0.00)),
	[TotalPaid] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_TotalPaid]  DEFAULT ((0.00)),
	[ModeOfPayment] [nchar](100) NULL,
	[PaymentModeDetails] [varchar](250) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentDue] [decimal](18, 2) NULL CONSTRAINT [DF_SchoolFeesPayment_PaymentDue]  DEFAULT ((0.00)),
	[School] [varchar](250) NULL,
	[ClassName] [nvarchar](50) NULL,
	[Section] [nvarchar](30) NULL,
 CONSTRAINT [PK_SchoolFeesPayment] PRIMARY KEY CLUSTERED 
(
	[SFP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SchoolTypes]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolTypes](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolType] [nvarchar](250) NULL,
 CONSTRAINT [PK_SchoolTypes] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Section]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[SectionName] [nvarchar](30) NOT NULL,
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Section_1] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[Session] [nvarchar](30) NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setting]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[BookType] [nchar](30) NOT NULL,
	[MaxDays_Staff] [int] NULL,
	[MaxDays_Student] [int] NULL,
	[FinePerDay_Student] [decimal](18, 2) NULL,
	[FinePerDay_Staff] [decimal](18, 2) NULL,
	[MaxBooks_Staff] [int] NULL,
	[MaxBooks_Student] [int] NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[BookType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SMSSetting]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSSetting](
	[APIURL] [nvarchar](150) NULL,
	[IsDefault] [nchar](50) NULL,
	[IsEnabled] [nchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SMSSetting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffAttendance]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAttendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkingDate] [datetime] NULL,
	[StaffID] [int] NULL,
	[Status] [nchar](20) NULL,
	[InTime] [nchar](30) NULL,
	[OutTime] [nchar](30) NULL,
 CONSTRAINT [PK_StaffAttendance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffBusFeesPayment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffBusFeesPayment](
	[FP_ID] [nchar](10) NOT NULL,
	[MaxID] [nchar](30) NULL,
	[StaffBusHolder_ID] [int] NULL,
	[Session] [nvarchar](30) NULL,
	[Installment] [nchar](30) NULL,
	[TotalFee] [decimal](18, 2) NULL,
	[DiscountPer] [decimal](18, 2) NULL,
	[DiscountAmt] [decimal](18, 2) NULL,
	[PreviousDue] [decimal](18, 2) NULL,
	[Fine] [decimal](18, 2) NULL,
	[GrandTotal] [decimal](18, 2) NULL,
	[TotalPaid] [decimal](18, 2) NULL,
	[ModeOfPayment] [nchar](100) NULL,
	[PaymentModeDetails] [varchar](250) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentDue] [decimal](18, 2) NULL,
	[Location] [nchar](150) NULL,
 CONSTRAINT [PK_StaffBusFeesPayment] PRIMARY KEY CLUSTERED 
(
	[FP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaffBusHolder]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffBusHolder](
	[StaffBusHolderID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[Bus_ID] [int] NULL,
	[Location_ID] [int] NULL,
	[JoiningDate] [datetime] NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_StaffBusHolder] PRIMARY KEY CLUSTERED 
(
	[StaffBusHolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffdiscount]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffdiscount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Staff_ID] [int] NULL,
	[Discount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Staffdiscount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffPayment]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffPayment](
	[Id] [int] NOT NULL,
	[PaymentID] [nchar](20) NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[StaffID] [int] NOT NULL,
	[PresentDays] [int] NOT NULL CONSTRAINT [DF_StaffPayment_PresentDays]  DEFAULT ((0)),
	[Salary] [decimal](18, 2) NOT NULL CONSTRAINT [DF_StaffPayment_Salary]  DEFAULT ((0.00)),
	[Advance] [decimal](18, 2) NOT NULL CONSTRAINT [DF_StaffPayment_Advance]  DEFAULT ((0.00)),
	[Deduction] [decimal](18, 2) NOT NULL CONSTRAINT [DF_StaffPayment_Deduction]  DEFAULT ((0.00)),
	[PaymentDate] [datetime] NOT NULL,
	[ModeOfPayment] [nchar](50) NULL,
	[PaymentModeDetails] [varchar](max) NULL,
	[NetPay] [decimal](18, 2) NULL CONSTRAINT [DF_StaffPayment_NetPay]  DEFAULT ((0.00)),
 CONSTRAINT [PK_StaffPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[AdmissionNo] [nchar](50) NOT NULL,
	[EnrollmentNo] [nchar](50) NULL,
	[StudentName] [nchar](100) NULL,
	[FatherName] [nchar](100) NULL,
	[FatherOcc] [nchar](80) NULL,
	[MotherName] [nchar](100) NULL,
	[MotherOcc] [nchar](80) NULL,
	[ParentContact] [nchar](15) NULL,
	[PermanentAddress] [nchar](250) NULL,
	[TemporaryAddress] [nchar](250) NULL,
	[ContactNo] [nchar](15) NULL,
	[Email] [nchar](100) NULL,
	[DOB] [nchar](30) NULL,
	[Gender] [nchar](10) NULL,
	[AdmissionDate] [datetime] NULL,
	[Category] [nchar](100) NULL,
	[Religion] [nchar](100) NULL,
	[Photo] [image] NULL,
	[Status] [nchar](35) NULL,
	[Nationality] [nchar](100) NULL,
	[ClassSection_ID] [int] NULL,
	[School_ID] [int] NULL,
	[LastSchool] [nchar](100) NULL,
	[LastClass] [nchar](100) NULL,
	[PassingYr] [int] NULL,
	[percents] [nchar](15) NULL,
	[Board] [nchar](100) NULL,
	[BloodGroup] [nchar](20) NULL,
	[Height] [nchar](30) NULL,
	[Weight] [nchar](30) NULL,
	[GuardianName] [nchar](100) NULL,
	[Address] [nchar](250) NULL,
	[GuardianContact] [nchar](15) NULL,
	[Session_ID] [int] NULL,
	[Result] [nchar](30) NULL,
	[HomeContact] [nchar](15) NULL,
	[Bus] [decimal](18, 2) NULL CONSTRAINT [DF_Student_Bus]  DEFAULT ((0.00)),
	[Class] [decimal](18, 2) NULL CONSTRAINT [DF_Student_Class]  DEFAULT ((0.00)),
	[Hostel] [decimal](18, 2) NULL CONSTRAINT [DF_Student_Hostel]  DEFAULT ((0.00)),
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[AdmissionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentBusHolder]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBusHolder](
	[BusHolderID] [int] IDENTITY(1,1) NOT NULL,
	[Admission_No] [nchar](50) NULL,
	[Bus_ID] [int] NULL,
	[Location_ID] [int] NULL,
	[JoiningDate] [datetime] NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_StudentBusHolder] PRIMARY KEY CLUSTERED 
(
	[BusHolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentDiscount]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDiscount](
	[StudentDisID] [int] IDENTITY(1,1) NOT NULL,
	[Admission_No] [nchar](50) NULL,
	[Feetype] [nchar](50) NULL,
	[Discount] [decimal](18, 2) NULL CONSTRAINT [DF_StudentDiscount_Discount]  DEFAULT ((0.00)),
 CONSTRAINT [PK_StudentDiscount] PRIMARY KEY CLUSTERED 
(
	[StudentDisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](100) NOT NULL,
	[SubjectName] [nvarchar](max) NULL,
	[SessionID] [int] NULL,
	[SchoolID] [int] NULL,
	[ClassID] [int] NULL,
	[SubjectType] [nchar](100) NULL,
	[MaxClasses] [int] NULL,
	[TimeFrom] [nchar](30) NULL,
	[TimeTo] [nchar](30) NULL,
 CONSTRAINT [PK_Subject_1] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] NOT NULL,
	[SupplierMax] [nchar](30) NOT NULL,
	[SupplierName] [nchar](150) NULL,
	[Address] [nchar](200) NULL,
	[ContactNo] [nchar](15) NULL,
	[EmailID] [nchar](120) NULL,
	[S_Books] [nchar](10) NULL,
	[S_Newspaper] [nchar](10) NULL,
	[S_Magazines] [nchar](10) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGrants]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGrants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Forms] [nvarchar](250) NULL,
	[ViewRecord] [nchar](10) NULL,
	[Saves] [nchar](10) NULL,
	[Updates] [nchar](10) NULL,
	[Deletes] [nchar](10) NULL,
	[Getdata] [nchar](10) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_UserGrants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-12-2016 3:58:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContactNo] [nchar](20) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[JoiningDate] [datetime] NOT NULL,
	[Designation_ID] [int] NULL,
 CONSTRAINT [PK_User_Registration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AdvanceEntry] ON 

INSERT [dbo].[AdvanceEntry] ([AdvanceID], [StaffID], [Amount], [Deduction], [WorkingDate]) VALUES (15, 5, CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-10-14 00:00:00.000' AS DateTime))
INSERT [dbo].[AdvanceEntry] ([AdvanceID], [StaffID], [Amount], [Deduction], [WorkingDate]) VALUES (16, 4, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-10-14 00:00:00.000' AS DateTime))
INSERT [dbo].[AdvanceEntry] ([AdvanceID], [StaffID], [Amount], [Deduction], [WorkingDate]) VALUES (17, 4, CAST(5000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-10-15 19:01:26.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdvanceEntry] OFF
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([ID], [Attendance_ID], [Status], [Admission_No]) VALUES (15, 1, N'A         ', N'A-00018                                           ')
INSERT [dbo].[Attendance] ([ID], [Attendance_ID], [Status], [Admission_No]) VALUES (16, 1, N'A         ', N'a005                                              ')
INSERT [dbo].[Attendance] ([ID], [Attendance_ID], [Status], [Admission_No]) VALUES (17, 1, N'P         ', N'A00089                                            ')
SET IDENTITY_INSERT [dbo].[Attendance] OFF
INSERT [dbo].[AttendanceMaster] ([AttendanceID], [AttendanceDate], [StaffID], [SubjectID]) VALUES (1, CAST(N'2016-10-17 00:00:00.000' AS DateTime), 4, 5)
INSERT [dbo].[AttendanceMaster] ([AttendanceID], [AttendanceDate], [StaffID], [SubjectID]) VALUES (2, CAST(N'2016-10-27 00:00:00.000' AS DateTime), 6, 5)
INSERT [dbo].[AttendanceMaster] ([AttendanceID], [AttendanceDate], [StaffID], [SubjectID]) VALUES (3, CAST(N'2016-10-29 00:00:00.000' AS DateTime), 6, 5)
INSERT [dbo].[Book_RI] ([IssueID], [ReservationID]) VALUES (0, 1)
SET IDENTITY_INSERT [dbo].[BookIssue_Staff] ON 

INSERT [dbo].[BookIssue_Staff] ([ID], [IssueDate], [DueDate], [AccessionNo], [StaffID], [Status], [Remarks]) VALUES (1, CAST(N'2016-08-19 00:00:00.000' AS DateTime), CAST(N'2016-08-21 00:00:00.000' AS DateTime), N'A0000555                                                                                                                                              ', 4, N'Returned                                          ', N'Issued')
INSERT [dbo].[BookIssue_Staff] ([ID], [IssueDate], [DueDate], [AccessionNo], [StaffID], [Status], [Remarks]) VALUES (2, CAST(N'2016-08-16 00:00:00.000' AS DateTime), CAST(N'2016-08-18 00:00:00.000' AS DateTime), N'A0000555                                                                                                                                              ', 4, N'Returned                                          ', N'no')
INSERT [dbo].[BookIssue_Staff] ([ID], [IssueDate], [DueDate], [AccessionNo], [StaffID], [Status], [Remarks]) VALUES (3, CAST(N'2016-10-11 00:00:00.000' AS DateTime), CAST(N'2016-10-13 00:00:00.000' AS DateTime), N'A0055                                                                                                                                                 ', 4, N'Returned                                          ', N'')
SET IDENTITY_INSERT [dbo].[BookIssue_Staff] OFF
SET IDENTITY_INSERT [dbo].[BookIssue_Student] ON 

INSERT [dbo].[BookIssue_Student] ([ID], [IssueDate], [DueDate], [AccessionNo], [AdmissionNo], [Status], [Remarks]) VALUES (3, CAST(N'2016-09-25 00:00:00.000' AS DateTime), CAST(N'2016-09-27 00:00:00.000' AS DateTime), N'A0055                                                                                                                                                 ', N'A00085                                            ', N'Returned                                          ', N'vaibhav ')
INSERT [dbo].[BookIssue_Student] ([ID], [IssueDate], [DueDate], [AccessionNo], [AdmissionNo], [Status], [Remarks]) VALUES (4, CAST(N'2016-09-25 00:00:00.000' AS DateTime), CAST(N'2016-09-27 00:00:00.000' AS DateTime), N'A0055                                                                                                                                                 ', N'A00085                                            ', N'Issued                                            ', N'vaibhav patidar')
INSERT [dbo].[BookIssue_Student] ([ID], [IssueDate], [DueDate], [AccessionNo], [AdmissionNo], [Status], [Remarks]) VALUES (5, CAST(N'2016-10-11 00:00:00.000' AS DateTime), CAST(N'2016-10-13 00:00:00.000' AS DateTime), N'A0055                                                                                                                                                 ', N'A00085                                            ', N'Returned                                          ', N'')
SET IDENTITY_INSERT [dbo].[BookIssue_Student] OFF
SET IDENTITY_INSERT [dbo].[BookReservation] ON 

INSERT [dbo].[BookReservation] ([ID], [AccessionNo], [StaffID], [R_Date], [Status], [Remarks]) VALUES (2, N'A0055                                                                                                                                                 ', 5, CAST(N'2016-10-16 00:00:00.000' AS DateTime), N'Cancelled                                                                                           ', N'')
INSERT [dbo].[BookReservation] ([ID], [AccessionNo], [StaffID], [R_Date], [Status], [Remarks]) VALUES (3, N'A0012465                                                                                                                                              ', 10, CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'Reserved                                                                                            ', N'')
INSERT [dbo].[BookReservation] ([ID], [AccessionNo], [StaffID], [R_Date], [Status], [Remarks]) VALUES (4, N'A001221                                                                                                                                               ', 6, CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'Cancelled                                                                                           ', N'')
SET IDENTITY_INSERT [dbo].[BookReservation] OFF
SET IDENTITY_INSERT [dbo].[BooksCategory] ON 

INSERT [dbo].[BooksCategory] ([CategoryID], [CategoryName], [Classification]) VALUES (1, N'Text Books                                                                                                                                                                                              ', NULL)
INSERT [dbo].[BooksCategory] ([CategoryID], [CategoryName], [Classification]) VALUES (2, N'Geomatry Books                                                                                                                                                                                          ', N'002 Maths.')
INSERT [dbo].[BooksCategory] ([CategoryID], [CategoryName], [Classification]) VALUES (3, N'Optimization Techniques                                                                                                                                                                                 ', N'000 Computer science and  information')
SET IDENTITY_INSERT [dbo].[BooksCategory] OFF
SET IDENTITY_INSERT [dbo].[BooksSubCategory] ON 

INSERT [dbo].[BooksSubCategory] ([SubCategoryID], [SubCategoryName], [Category_ID]) VALUES (2, N'English                                                                                                                                                                                                 ', 1)
INSERT [dbo].[BooksSubCategory] ([SubCategoryID], [SubCategoryName], [Category_ID]) VALUES (3, N'C programming                                                                                                                                                                                           ', 1)
INSERT [dbo].[BooksSubCategory] ([SubCategoryID], [SubCategoryName], [Category_ID]) VALUES (4, N'Geomatry                                                                                                                                                                                                ', 2)
SET IDENTITY_INSERT [dbo].[BooksSubCategory] OFF
SET IDENTITY_INSERT [dbo].[Bus] ON 

INSERT [dbo].[Bus] ([BusID], [BusNo], [DriverName], [ContactNo], [SupporterName], [Scontactno]) VALUES (2, N'B001                                                                                                ', N'vaibhav patidar                                                                                     ', N'8349102353          ', N'vaibhav patidar                                                                                     ', N'8349102353          ')
INSERT [dbo].[Bus] ([BusID], [BusNo], [DriverName], [ContactNo], [SupporterName], [Scontactno]) VALUES (4, N'B002                                                                                                ', N'Amit Sigh                                                                                           ', N'9630014949          ', N'Anuj                                                                                                ', N'8349102353          ')
INSERT [dbo].[Bus] ([BusID], [BusNo], [DriverName], [ContactNo], [SupporterName], [Scontactno]) VALUES (5, N'B003                                                                                                ', N'Rahul                                                                                               ', N'9098300298          ', N'Rakesh                                                                                              ', N'9696963696          ')
SET IDENTITY_INSERT [dbo].[Bus] OFF
SET IDENTITY_INSERT [dbo].[BusInstallment] ON 

INSERT [dbo].[BusInstallment] ([InstallmentID], [Installment], [Charges], [Location_ID]) VALUES (2, N'1st                           ', CAST(2000.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[BusInstallment] ([InstallmentID], [Installment], [Charges], [Location_ID]) VALUES (5, N'1st                           ', CAST(6000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BusInstallment] ([InstallmentID], [Installment], [Charges], [Location_ID]) VALUES (6, N'2nd                           ', CAST(5000.00 AS Decimal(18, 2)), 4)
SET IDENTITY_INSERT [dbo].[BusInstallment] OFF
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [ClassName], [ClassType_ID]) VALUES (8, N'1st', 4)
INSERT [dbo].[Class] ([ClassID], [ClassName], [ClassType_ID]) VALUES (9, N'2nd', 4)
INSERT [dbo].[Class] ([ClassID], [ClassName], [ClassType_ID]) VALUES (10, N'3rd', 4)
SET IDENTITY_INSERT [dbo].[Class] OFF
INSERT [dbo].[Classifications] ([Classification]) VALUES (N'000 Computer science and  information')
INSERT [dbo].[Classifications] ([Classification]) VALUES (N'002 Maths.')
INSERT [dbo].[Classifications] ([Classification]) VALUES (N'100 Philosophy & psychology')
SET IDENTITY_INSERT [dbo].[ClassSection] ON 

INSERT [dbo].[ClassSection] ([ClassSectionID], [Class_ID], [Section_ID]) VALUES (5, 8, 3)
INSERT [dbo].[ClassSection] ([ClassSectionID], [Class_ID], [Section_ID]) VALUES (6, 9, 1)
INSERT [dbo].[ClassSection] ([ClassSectionID], [Class_ID], [Section_ID]) VALUES (7, 10, 3)
SET IDENTITY_INSERT [dbo].[ClassSection] OFF
SET IDENTITY_INSERT [dbo].[ClassTypes] ON 

INSERT [dbo].[ClassTypes] ([ClassTypeID], [ClassType]) VALUES (1, N'Nursary Class')
INSERT [dbo].[ClassTypes] ([ClassTypeID], [ClassType]) VALUES (4, N'Primary Class')
INSERT [dbo].[ClassTypes] ([ClassTypeID], [ClassType]) VALUES (5, N'Secondary Class')
SET IDENTITY_INSERT [dbo].[ClassTypes] OFF
SET IDENTITY_INSERT [dbo].[CourseFeePayment_Join] ON 

INSERT [dbo].[CourseFeePayment_Join] ([CFID], [FeeId], [Fee], [Month], [SF_PaymentID]) VALUES (18, 16, CAST(5000.00 AS Decimal(18, 2)), N'January                                           ', 1)
INSERT [dbo].[CourseFeePayment_Join] ([CFID], [FeeId], [Fee], [Month], [SF_PaymentID]) VALUES (19, 34, CAST(600.00 AS Decimal(18, 2)), N'January                                           ', 1)
INSERT [dbo].[CourseFeePayment_Join] ([CFID], [FeeId], [Fee], [Month], [SF_PaymentID]) VALUES (20, 32, CAST(2000.00 AS Decimal(18, 2)), N'January                                           ', 1)
SET IDENTITY_INSERT [dbo].[CourseFeePayment_Join] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName]) VALUES (22, N'English Department')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName]) VALUES (23, N'Maths Department')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName]) VALUES (24, N'Compter Department')
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([DesignationID], [Designation]) VALUES (1, N'Teacher')
INSERT [dbo].[Designations] ([DesignationID], [Designation]) VALUES (2, N'Admin')
INSERT [dbo].[Designations] ([DesignationID], [Designation]) VALUES (3, N'Operator')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Doc] ON 

INSERT [dbo].[Doc] ([DocID], [Document_Name], [Admission_No]) VALUES (47, N'12th MarkSheet', N'A-00018                                           ')
INSERT [dbo].[Doc] ([DocID], [Document_Name], [Admission_No]) VALUES (48, N'Transfer Certificate', N'A-00018                                           ')
INSERT [dbo].[Doc] ([DocID], [Document_Name], [Admission_No]) VALUES (52, N'12th MarkSheet', N'A0015                                             ')
SET IDENTITY_INSERT [dbo].[Doc] OFF
INSERT [dbo].[DocumentMaster] ([DocumentName]) VALUES (N'.Character Certificate')
INSERT [dbo].[DocumentMaster] ([DocumentName]) VALUES (N'10th Marksheet')
INSERT [dbo].[DocumentMaster] ([DocumentName]) VALUES (N'12th MarkSheet')
SET IDENTITY_INSERT [dbo].[ExamMaster] ON 

INSERT [dbo].[ExamMaster] ([ExamID], [ExamName], [ExamType]) VALUES (1, N'Mid Term Exam', N'Marks and Grades')
INSERT [dbo].[ExamMaster] ([ExamID], [ExamName], [ExamType]) VALUES (2, N'End Term', N'Grades')
SET IDENTITY_INSERT [dbo].[ExamMaster] OFF
INSERT [dbo].[ExamSchedule] ([ScheduleID], [ExamID], [School_ID], [Session_ID], [ClassSection_ID]) VALUES (2, 1, 11, 3, 5)
INSERT [dbo].[ExamSchedule] ([ScheduleID], [ExamID], [School_ID], [Session_ID], [ClassSection_ID]) VALUES (3, 1, 11, 5, 5)
SET IDENTITY_INSERT [dbo].[Fee] ON 

INSERT [dbo].[Fee] ([Id], [Feename]) VALUES (1, N'Tution Fees')
INSERT [dbo].[Fee] ([Id], [Feename]) VALUES (16, N'Caution  Money')
INSERT [dbo].[Fee] ([Id], [Feename]) VALUES (18, N'Lab Fee')
SET IDENTITY_INSERT [dbo].[Fee] OFF
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeID], [Grade], [ScoreFrom], [ScoreTo], [Remark], [GradePoint]) VALUES (6, N'A+', CAST(90.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), N'Outstanding', CAST(4.00 AS Decimal(18, 2)))
INSERT [dbo].[Grades] ([GradeID], [Grade], [ScoreFrom], [ScoreTo], [Remark], [GradePoint]) VALUES (7, N'A', CAST(80.00 AS Decimal(18, 2)), CAST(89.00 AS Decimal(18, 2)), N'Excellent', CAST(3.80 AS Decimal(18, 2)))
INSERT [dbo].[Grades] ([GradeID], [Grade], [ScoreFrom], [ScoreTo], [Remark], [GradePoint]) VALUES (8, N'B+', CAST(70.00 AS Decimal(18, 2)), CAST(79.00 AS Decimal(18, 2)), N'Very Good', CAST(3.20 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[Hostel] ON 

INSERT [dbo].[Hostel] ([HostelID], [Hostelname], [Address], [Phone], [Mobile], [Incharge]) VALUES (1, N'Gurukul hostel                                                                                                                                        ', N'Rau', N'9630014949     ', N'9630014949     ', N'vaibhav                                                                                             ')
INSERT [dbo].[Hostel] ([HostelID], [Hostelname], [Address], [Phone], [Mobile], [Incharge]) VALUES (2, N'MR Hostel                                                                                                                                             ', N'A.B. Road Indore', N'0742723544     ', N'230530         ', N'deepak                                                                                              ')
INSERT [dbo].[Hostel] ([HostelID], [Hostelname], [Address], [Phone], [Mobile], [Incharge]) VALUES (5, N'Minakshi hostel                                                                                                                                       ', N'Bangalore', N'8349102353     ', N'8349102353     ', N'monu                                                                                                ')
SET IDENTITY_INSERT [dbo].[Hostel] OFF
SET IDENTITY_INSERT [dbo].[Hosteler] ON 

INSERT [dbo].[Hosteler] ([HostelerID], [Admission_No], [Hostel_ID], [JoiningDate], [Status]) VALUES (4, N'A-00018                                           ', 1, CAST(N'2016-10-28 00:00:00.000' AS DateTime), N'Active    ')
INSERT [dbo].[Hosteler] ([HostelerID], [Admission_No], [Hostel_ID], [JoiningDate], [Status]) VALUES (5, N'A00477                                            ', 5, CAST(N'2016-10-28 00:00:00.000' AS DateTime), N'Active    ')
INSERT [dbo].[Hosteler] ([HostelerID], [Admission_No], [Hostel_ID], [JoiningDate], [Status]) VALUES (6, N'A00089                                            ', 1, CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'Active    ')
SET IDENTITY_INSERT [dbo].[Hosteler] OFF
SET IDENTITY_INSERT [dbo].[HostelInstallment] ON 

INSERT [dbo].[HostelInstallment] ([IHID], [Installment], [Charges], [Hostel_ID], [Class_ID], [School_ID]) VALUES (1, N'1st                           ', CAST(1000.00 AS Decimal(18, 2)), 1, 9, 11)
INSERT [dbo].[HostelInstallment] ([IHID], [Installment], [Charges], [Hostel_ID], [Class_ID], [School_ID]) VALUES (2, N'1st                           ', CAST(5000.00 AS Decimal(18, 2)), 2, 8, 11)
INSERT [dbo].[HostelInstallment] ([IHID], [Installment], [Charges], [Hostel_ID], [Class_ID], [School_ID]) VALUES (3, N'1st                           ', CAST(4000.00 AS Decimal(18, 2)), 1, 8, 11)
SET IDENTITY_INSERT [dbo].[HostelInstallment] OFF
INSERT [dbo].[Locations] ([LocationID], [Location]) VALUES (1, N'Vijaynagar                                                                                                                                            ')
INSERT [dbo].[Locations] ([LocationID], [Location]) VALUES (4, N'L.I.G                                                                                                                                                 ')
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [UserID], [Date], [Operation]) VALUES (4182, N'user-1                                                                                                                                                ', CAST(N'2016-10-10 15:55:15.383' AS DateTime), N'deleted the all logs till date ''10-10-2016 3:55:15 PM''')
INSERT [dbo].[Logs] ([Id], [UserID], [Date], [Operation]) VALUES (4183, N'user-1                                                                                                                                                ', CAST(N'2016-10-10 15:56:05.090' AS DateTime), N'User ''Vinod'' is Updated  Successfully')
INSERT [dbo].[Logs] ([Id], [UserID], [Date], [Operation]) VALUES (4184, N'user-1                                                                                                                                                ', CAST(N'2016-10-10 15:56:22.730' AS DateTime), N'Successfully logged out')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
INSERT [dbo].[MarksEntry] ([M_ID], [AdmissionNo], [StudentSchool], [Session], [StudentClass], [StudentSection], [EntryDate], [Result]) VALUES (1, N'A00085                                            ', N'Medicaps International School', N'2016-2017', N'1st', N'A', CAST(N'2016-09-30 14:41:34.323' AS DateTime), N'Pass                ')
INSERT [dbo].[MarksEntry] ([M_ID], [AdmissionNo], [StudentSchool], [Session], [StudentClass], [StudentSection], [EntryDate], [Result]) VALUES (2, N'a005                                              ', N'Medicaps International School', N'2016-2017', N'1st', N'A', CAST(N'2016-10-01 03:08:29.477' AS DateTime), N'Pass                ')
INSERT [dbo].[MarksEntry] ([M_ID], [AdmissionNo], [StudentSchool], [Session], [StudentClass], [StudentSection], [EntryDate], [Result]) VALUES (3, N'A-00018                                           ', N'Medicaps International School', N'2016-2017', N'1st', N'A', CAST(N'2016-10-29 04:02:40.160' AS DateTime), N'Pass                ')
SET IDENTITY_INSERT [dbo].[MarksEntry_Join] ON 

INSERT [dbo].[MarksEntry_Join] ([TBID], [MarksID], [Subject_ID], [MaxMarks], [MMPractical], [CreditHours], [OMTheory], [OMPractical], [OGTheory], [OGPractical], [FinalGrade], [GradePoint], [Status]) VALUES (53, 2, 1, CAST(70.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), N'B+', N'B', N'B+', CAST(3.20 AS Decimal(18, 2)), N'Present')
INSERT [dbo].[MarksEntry_Join] ([TBID], [MarksID], [Subject_ID], [MaxMarks], [MMPractical], [CreditHours], [OMTheory], [OMPractical], [OGTheory], [OGPractical], [FinalGrade], [GradePoint], [Status]) VALUES (79, 1, 5, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'0.00', N'0.00', N'0.00', CAST(0.00 AS Decimal(18, 2)), N'Absent')
INSERT [dbo].[MarksEntry_Join] ([TBID], [MarksID], [Subject_ID], [MaxMarks], [MMPractical], [CreditHours], [OMTheory], [OMPractical], [OGTheory], [OGPractical], [FinalGrade], [GradePoint], [Status]) VALUES (80, 1, 1, CAST(70.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), N'B+', N'B', N'B+', CAST(3.20 AS Decimal(18, 2)), N'Present')
SET IDENTITY_INSERT [dbo].[MarksEntry_Join] OFF
SET IDENTITY_INSERT [dbo].[Return_Staff] ON 

INSERT [dbo].[Return_Staff] ([ID], [IssueID], [ReturnDate], [Fine], [Remarks]) VALUES (3, 2, CAST(N'2016-08-24 00:00:00.000' AS DateTime), CAST(3300.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[Return_Staff] ([ID], [IssueID], [ReturnDate], [Fine], [Remarks]) VALUES (4, 2, CAST(N'2016-08-25 00:00:00.000' AS DateTime), CAST(3850.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[Return_Staff] ([ID], [IssueID], [ReturnDate], [Fine], [Remarks]) VALUES (5, 1, CAST(N'2016-08-22 00:00:00.000' AS DateTime), CAST(550.00 AS Decimal(18, 2)), N'returned ')
SET IDENTITY_INSERT [dbo].[Return_Staff] OFF
SET IDENTITY_INSERT [dbo].[Return_Student] ON 

INSERT [dbo].[Return_Student] ([ReturnID], [IssueID], [ReturnDate], [Fine], [Remarks]) VALUES (5, 3, CAST(N'2016-10-11 00:00:00.000' AS DateTime), CAST(8400.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[Return_Student] ([ReturnID], [IssueID], [ReturnDate], [Fine], [Remarks]) VALUES (6, 5, CAST(N'2016-10-16 00:00:00.000' AS DateTime), CAST(1800.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[Return_Student] ([ReturnID], [IssueID], [ReturnDate], [Fine], [Remarks]) VALUES (7, 6, CAST(N'2016-11-01 00:00:00.000' AS DateTime), CAST(1800.00 AS Decimal(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[Return_Student] OFF
SET IDENTITY_INSERT [dbo].[Scheduling] ON 

INSERT [dbo].[Scheduling] ([ID], [ExamDate], [MaxMarks], [MinMarks], [StartTime], [EndTime], [Subject_ID], [Schedule_ID]) VALUES (31, CAST(N'2016-09-11 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'05:28 PM', N'07:28 PM', 2, 2)
INSERT [dbo].[Scheduling] ([ID], [ExamDate], [MaxMarks], [MinMarks], [StartTime], [EndTime], [Subject_ID], [Schedule_ID]) VALUES (32, CAST(N'2016-10-28 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)), CAST(37.00 AS Decimal(18, 2)), N'10:03 AM', N'11:03 AM', 4, 2)
INSERT [dbo].[Scheduling] ([ID], [ExamDate], [MaxMarks], [MinMarks], [StartTime], [EndTime], [Subject_ID], [Schedule_ID]) VALUES (34, CAST(N'2016-10-29 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'03:58 AM', N'03:58 PM', 5, 3)
SET IDENTITY_INSERT [dbo].[Scheduling] OFF
SET IDENTITY_INSERT [dbo].[School] ON 

SET IDENTITY_INSERT [dbo].[School] OFF
SET IDENTITY_INSERT [dbo].[SchoolFees] ON 

INSERT [dbo].[SchoolFees] ([SchoolFeeID], [Class_ID], [FeeID], [Fee], [Month], [School_ID]) VALUES (47, 8, 16, CAST(5000.00 AS Decimal(18, 2)), N'January                       ', 11)
INSERT [dbo].[SchoolFees] ([SchoolFeeID], [Class_ID], [FeeID], [Fee], [Month], [School_ID]) VALUES (48, 8, 18, CAST(500.00 AS Decimal(18, 2)), N'January                       ', 15)
INSERT [dbo].[SchoolFees] ([SchoolFeeID], [Class_ID], [FeeID], [Fee], [Month], [School_ID]) VALUES (49, 8, 19, CAST(900.00 AS Decimal(18, 2)), N'January                       ', 14)
SET IDENTITY_INSERT [dbo].[SchoolFees] OFF
SET IDENTITY_INSERT [dbo].[SchoolTypes] ON 

INSERT [dbo].[SchoolTypes] ([CategoryID], [SchoolType]) VALUES (1, N'CBSE School')
INSERT [dbo].[SchoolTypes] ([CategoryID], [SchoolType]) VALUES (5, N'MP Board')
INSERT [dbo].[SchoolTypes] ([CategoryID], [SchoolType]) VALUES (6, N'State Board School')
SET IDENTITY_INSERT [dbo].[SchoolTypes] OFF
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([SectionName], [SectionID]) VALUES (N'B              ', 1)
INSERT [dbo].[Section] ([SectionName], [SectionID]) VALUES (N'C              ', 2)
INSERT [dbo].[Section] ([SectionName], [SectionID]) VALUES (N'A', 3)
SET IDENTITY_INSERT [dbo].[Section] OFF
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([SessionID], [Session]) VALUES (3, N'2015-2016')
INSERT [dbo].[Sessions] ([SessionID], [Session]) VALUES (5, N'2016-2017')
SET IDENTITY_INSERT [dbo].[Sessions] OFF
INSERT [dbo].[Setting] ([BookType], [MaxDays_Staff], [MaxDays_Student], [FinePerDay_Student], [FinePerDay_Staff], [MaxBooks_Staff], [MaxBooks_Student]) VALUES (N'Normal                        ', 5, 5, CAST(5.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 2, 3)
INSERT [dbo].[Setting] ([BookType], [MaxDays_Staff], [MaxDays_Student], [FinePerDay_Student], [FinePerDay_Staff], [MaxBooks_Staff], [MaxBooks_Student]) VALUES (N'Reference                     ', 2, 2, CAST(5.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 5, 5)
SET IDENTITY_INSERT [dbo].[SMSSetting] ON 

INSERT [dbo].[SMSSetting] ([APIURL], [IsDefault], [IsEnabled], [ID]) VALUES (N'Set Your SMS API Here...', N'Yes                                               ', N'Yes                                               ', 4)
SET IDENTITY_INSERT [dbo].[SMSSetting] OFF
SET IDENTITY_INSERT [dbo].[StaffAttendance] ON 

INSERT [dbo].[StaffAttendance] ([Id], [WorkingDate], [StaffID], [Status], [InTime], [OutTime]) VALUES (15, CAST(N'2016-10-14 00:00:00.000' AS DateTime), 4, N'P                   ', N'04:57 AM                      ', N'04:57 PM                      ')
INSERT [dbo].[StaffAttendance] ([Id], [WorkingDate], [StaffID], [Status], [InTime], [OutTime]) VALUES (16, CAST(N'2016-10-14 00:00:00.000' AS DateTime), 5, N'P                   ', N'04:59 AM                      ', N'04:59 PM                      ')
INSERT [dbo].[StaffAttendance] ([Id], [WorkingDate], [StaffID], [Status], [InTime], [OutTime]) VALUES (17, CAST(N'2016-10-17 00:00:00.000' AS DateTime), 5, N'P                   ', N'07:37 AM                      ', N'07:37 PM                      ')
SET IDENTITY_INSERT [dbo].[StaffAttendance] OFF
SET IDENTITY_INSERT [dbo].[StaffBusHolder] ON 

INSERT [dbo].[StaffBusHolder] ([StaffBusHolderID], [StaffID], [Bus_ID], [Location_ID], [JoiningDate], [Status]) VALUES (2, 4, 2, 1, CAST(N'2016-10-18 00:00:00.000' AS DateTime), N'Active    ')
INSERT [dbo].[StaffBusHolder] ([StaffBusHolderID], [StaffID], [Bus_ID], [Location_ID], [JoiningDate], [Status]) VALUES (3, 6, 2, 4, CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'Active    ')
INSERT [dbo].[StaffBusHolder] ([StaffBusHolderID], [StaffID], [Bus_ID], [Location_ID], [JoiningDate], [Status]) VALUES (4, 9, 4, 4, CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'Active    ')
SET IDENTITY_INSERT [dbo].[StaffBusHolder] OFF
INSERT [dbo].[StaffPayment] ([Id], [PaymentID], [DateFrom], [DateTo], [StaffID], [PresentDays], [Salary], [Advance], [Deduction], [PaymentDate], [ModeOfPayment], [PaymentModeDetails], [NetPay]) VALUES (1, N'EP-1                ', CAST(N'2016-10-14 00:00:00.000' AS DateTime), CAST(N'2016-11-14 00:00:00.000' AS DateTime), 5, 1, CAST(166.67 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-10-14 00:00:00.000' AS DateTime), N'By Cash                                           ', N'none', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[StaffPayment] ([Id], [PaymentID], [DateFrom], [DateTo], [StaffID], [PresentDays], [Salary], [Advance], [Deduction], [PaymentDate], [ModeOfPayment], [PaymentModeDetails], [NetPay]) VALUES (2, N'EP-2                ', CAST(N'2016-09-29 00:00:00.000' AS DateTime), CAST(N'2016-10-29 00:00:00.000' AS DateTime), 6, 3, CAST(1000.00 AS Decimal(18, 2)), CAST(900.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'By Cash                                           ', N'', CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[StaffPayment] ([Id], [PaymentID], [DateFrom], [DateTo], [StaffID], [PresentDays], [Salary], [Advance], [Deduction], [PaymentDate], [ModeOfPayment], [PaymentModeDetails], [NetPay]) VALUES (3, N'EP-3                ', CAST(N'2016-09-01 00:00:00.000' AS DateTime), CAST(N'2016-10-29 00:00:00.000' AS DateTime), 10, 6, CAST(5000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'By Cash                                           ', N'none', CAST(4980.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StudentBusHolder] ON 

INSERT [dbo].[StudentBusHolder] ([BusHolderID], [Admission_No], [Bus_ID], [Location_ID], [JoiningDate], [Status]) VALUES (7, N'A-00018                                           ', 2, 4, CAST(N'2016-10-28 00:00:00.000' AS DateTime), N'Active    ')
INSERT [dbo].[StudentBusHolder] ([BusHolderID], [Admission_No], [Bus_ID], [Location_ID], [JoiningDate], [Status]) VALUES (8, N'A00089                                            ', 2, 4, CAST(N'2016-10-28 00:00:00.000' AS DateTime), N'Active    ')
INSERT [dbo].[StudentBusHolder] ([BusHolderID], [Admission_No], [Bus_ID], [Location_ID], [JoiningDate], [Status]) VALUES (9, N'A00986                                            ', 4, 4, CAST(N'2016-10-29 00:00:00.000' AS DateTime), N'Active    ')
SET IDENTITY_INSERT [dbo].[StudentBusHolder] OFF
SET IDENTITY_INSERT [dbo].[StudentDiscount] ON 

INSERT [dbo].[StudentDiscount] ([StudentDisID], [Admission_No], [Feetype], [Discount]) VALUES (20, N'a005                                              ', N'Class                                             ', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[StudentDiscount] ([StudentDisID], [Admission_No], [Feetype], [Discount]) VALUES (22, N'a005                                              ', N'Hostel                                            ', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[StudentDiscount] ([StudentDisID], [Admission_No], [Feetype], [Discount]) VALUES (26, N'A00089                                            ', N'Class                                             ', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StudentDiscount] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectID], [SubjectCode], [SubjectName], [SessionID], [SchoolID], [ClassID], [SubjectType], [MaxClasses], [TimeFrom], [TimeTo]) VALUES (1, N'104', N'Hindi', 5, 11, 8, N'Major                                                                                               ', 10, N'06:29 PM                      ', N'07:29 PM                      ')
INSERT [dbo].[Subject] ([SubjectID], [SubjectCode], [SubjectName], [SessionID], [SchoolID], [ClassID], [SubjectType], [MaxClasses], [TimeFrom], [TimeTo]) VALUES (2, N'102', N'Maths Subject', 3, 11, 8, N'Major                                                                                               ', 50, N'06:30 PM                      ', N'07:30 PM                      ')
INSERT [dbo].[Subject] ([SubjectID], [SubjectCode], [SubjectName], [SessionID], [SchoolID], [ClassID], [SubjectType], [MaxClasses], [TimeFrom], [TimeTo]) VALUES (3, N'106', N'Science', 5, 11, 8, N'Major                                                                                               ', 15, N'06:32 PM                      ', N'09:32 PM                      ')
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[UserGrants] ON 

INSERT [dbo].[UserGrants] ([id], [Forms], [ViewRecord], [Saves], [Updates], [Deletes], [Getdata], [UserID]) VALUES (13530, N'Master Entry View', N'True      ', N'True      ', N'True      ', N'True      ', N'True      ', 10)
INSERT [dbo].[UserGrants] ([id], [Forms], [ViewRecord], [Saves], [Updates], [Deletes], [Getdata], [UserID]) VALUES (13531, N'Users View', N'True      ', N'False     ', N'True      ', N'True      ', N'True      ', 10)
INSERT [dbo].[UserGrants] ([id], [Forms], [ViewRecord], [Saves], [Updates], [Deletes], [Getdata], [UserID]) VALUES (13532, N'Student View', N'True      ', N'False     ', N'True      ', N'True      ', N'True      ', 10)
GO
SET IDENTITY_INSERT [dbo].[UserGrants] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserID], [Password], [Name], [ContactNo], [Email], [JoiningDate], [Designation_ID]) VALUES (2, N'Vaibhav03', N'12345', N'Veer Patidar', N'12345               ', N'pramod22@gmail.com', CAST(N'2016-03-11 01:28:00.000' AS DateTime), 4)
INSERT [dbo].[Users] ([ID], [UserID], [Password], [Name], [ContactNo], [Email], [JoiningDate], [Designation_ID]) VALUES (3, N'Akshay02', N'123', N'Akshay Patidar', N'9584950000          ', N'vaibhavpatidar44@gmail.com', CAST(N'2016-06-23 14:25:00.000' AS DateTime), 3)
INSERT [dbo].[Users] ([ID], [UserID], [Password], [Name], [ContactNo], [Email], [JoiningDate], [Designation_ID]) VALUES (10, N'vaibhav02', N'12345', N'vaibhav patidar', N'8349102353          ', N'vaibhavpatidar36@gmail.com', CAST(N'2016-07-11 10:19:04.673' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Resulting] ADD  CONSTRAINT [DF_Resulting_Marks]  DEFAULT ((0.00)) FOR [Marks]
GO
ALTER TABLE [dbo].[AdvanceEntry]  WITH CHECK ADD  CONSTRAINT [FK_AdvanceEntry_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AdvanceEntry] CHECK CONSTRAINT [FK_AdvanceEntry_Employee]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_AttendanceMaster] FOREIGN KEY([Attendance_ID])
REFERENCES [dbo].[AttendanceMaster] ([AttendanceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_AttendanceMaster]
GO
ALTER TABLE [dbo].[AttendanceMaster]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceMaster_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AttendanceMaster] CHECK CONSTRAINT [FK_AttendanceMaster_Employee]
GO
ALTER TABLE [dbo].[AttendanceMaster]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceMaster_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AttendanceMaster] CHECK CONSTRAINT [FK_AttendanceMaster_Subject]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BooksSubCategory] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[BooksSubCategory] ([SubCategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BooksSubCategory]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Supplier]
GO
ALTER TABLE [dbo].[BookIssue_Staff]  WITH CHECK ADD  CONSTRAINT [FK_BookIssue_Staff_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookIssue_Staff] CHECK CONSTRAINT [FK_BookIssue_Staff_Employee]
GO
ALTER TABLE [dbo].[BookIssue_Student]  WITH CHECK ADD  CONSTRAINT [FK_BookIssue_Student_Book] FOREIGN KEY([AccessionNo])
REFERENCES [dbo].[Book] ([AccessionNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookIssue_Student] CHECK CONSTRAINT [FK_BookIssue_Student_Book]
GO
ALTER TABLE [dbo].[BookIssue_Student]  WITH CHECK ADD  CONSTRAINT [FK_BookIssue_Student_Student] FOREIGN KEY([AdmissionNo])
REFERENCES [dbo].[Student] ([AdmissionNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookIssue_Student] CHECK CONSTRAINT [FK_BookIssue_Student_Student]
GO
ALTER TABLE [dbo].[BookReservation]  WITH CHECK ADD  CONSTRAINT [FK_BookReservation_Book] FOREIGN KEY([AccessionNo])
REFERENCES [dbo].[Book] ([AccessionNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookReservation] CHECK CONSTRAINT [FK_BookReservation_Book]
GO
ALTER TABLE [dbo].[BookReservation]  WITH CHECK ADD  CONSTRAINT [FK_BookReservation_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BookReservation] CHECK CONSTRAINT [FK_BookReservation_Employee]
GO
ALTER TABLE [dbo].[BooksCategory]  WITH CHECK ADD  CONSTRAINT [FK_BooksCategory_Classifications] FOREIGN KEY([Classification])
REFERENCES [dbo].[Classifications] ([Classification])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BooksCategory] CHECK CONSTRAINT [FK_BooksCategory_Classifications]
GO
ALTER TABLE [dbo].[BooksSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[BooksCategory] ([CategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BooksSubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
ALTER TABLE [dbo].[BusFeesPayment]  WITH CHECK ADD  CONSTRAINT [FK_BusFeesPayment_StudentBusHolder] FOREIGN KEY([BusHolder_ID])
REFERENCES [dbo].[StudentBusHolder] ([BusHolderID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BusFeesPayment] CHECK CONSTRAINT [FK_BusFeesPayment_StudentBusHolder]
GO
ALTER TABLE [dbo].[BusInstallment]  WITH CHECK ADD  CONSTRAINT [FK_BusInstallment_Locations] FOREIGN KEY([Location_ID])
REFERENCES [dbo].[Locations] ([LocationID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BusInstallment] CHECK CONSTRAINT [FK_BusInstallment_Locations]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_ClassTypes] FOREIGN KEY([ClassType_ID])
REFERENCES [dbo].[ClassTypes] ([ClassTypeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_ClassTypes]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [FK_ClassSection_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [FK_ClassSection_Class]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [FK_ClassSection_Section] FOREIGN KEY([Section_ID])
REFERENCES [dbo].[Section] ([SectionID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [FK_ClassSection_Section]
GO
ALTER TABLE [dbo].[CourseFeePayment_Join]  WITH CHECK ADD  CONSTRAINT [FK_CourseFeePayment_Join_Fee] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fee] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CourseFeePayment_Join] CHECK CONSTRAINT [FK_CourseFeePayment_Join_Fee]
GO
ALTER TABLE [dbo].[CourseFeePayment_Join]  WITH CHECK ADD  CONSTRAINT [FK_CourseFeePayment_Join_SchoolFeesPayment] FOREIGN KEY([SF_PaymentID])
REFERENCES [dbo].[SchoolFeesPayment] ([SFP_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseFeePayment_Join] CHECK CONSTRAINT [FK_CourseFeePayment_Join_SchoolFeesPayment]
GO
ALTER TABLE [dbo].[Doc]  WITH CHECK ADD  CONSTRAINT [FK_Doc_DocumentMaster] FOREIGN KEY([Document_Name])
REFERENCES [dbo].[DocumentMaster] ([DocumentName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Doc] CHECK CONSTRAINT [FK_Doc_DocumentMaster]
GO
ALTER TABLE [dbo].[Doc]  WITH CHECK ADD  CONSTRAINT [FK_Doc_Student] FOREIGN KEY([Admission_No])
REFERENCES [dbo].[Student] ([AdmissionNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doc] CHECK CONSTRAINT [FK_Doc_Student]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department1] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department1]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Designations] FOREIGN KEY([Designation_ID])
REFERENCES [dbo].[Designations] ([DesignationID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Designations]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedule_ClassSection] FOREIGN KEY([ClassSection_ID])
REFERENCES [dbo].[ClassSection] ([ClassSectionID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_ExamSchedule_ClassSection]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedule_ExamMaster] FOREIGN KEY([ExamID])
REFERENCES [dbo].[ExamMaster] ([ExamID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_ExamSchedule_ExamMaster]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedule_School] FOREIGN KEY([School_ID])
REFERENCES [dbo].[School] ([SchoolID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_ExamSchedule_School]
GO
ALTER TABLE [dbo].[ExamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedule_Sessions] FOREIGN KEY([Session_ID])
REFERENCES [dbo].[Sessions] ([SessionID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ExamSchedule] CHECK CONSTRAINT [FK_ExamSchedule_Sessions]
GO
ALTER TABLE [dbo].[Hosteler]  WITH CHECK ADD  CONSTRAINT [FK_Hosteler_Hostel] FOREIGN KEY([Hostel_ID])
REFERENCES [dbo].[Hostel] ([HostelID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Hosteler] CHECK CONSTRAINT [FK_Hosteler_Hostel]
GO
ALTER TABLE [dbo].[Hosteler]  WITH CHECK ADD  CONSTRAINT [FK_Hosteler_Student] FOREIGN KEY([Admission_No])
REFERENCES [dbo].[Student] ([AdmissionNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Hosteler] CHECK CONSTRAINT [FK_Hosteler_Student]
GO
ALTER TABLE [dbo].[HostelFeesPayment]  WITH CHECK ADD  CONSTRAINT [FK_HostelFeesPayment_Hosteler] FOREIGN KEY([Hosteler_ID])
REFERENCES [dbo].[Hosteler] ([HostelerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HostelFeesPayment] CHECK CONSTRAINT [FK_HostelFeesPayment_Hosteler]
GO
ALTER TABLE [dbo].[HostelInstallment]  WITH CHECK ADD  CONSTRAINT [FK_HostelInstallment_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HostelInstallment] CHECK CONSTRAINT [FK_HostelInstallment_Class]
GO
ALTER TABLE [dbo].[HostelInstallment]  WITH CHECK ADD  CONSTRAINT [FK_HostelInstallment_Hostel] FOREIGN KEY([Hostel_ID])
REFERENCES [dbo].[Hostel] ([HostelID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HostelInstallment] CHECK CONSTRAINT [FK_HostelInstallment_Hostel]
GO
ALTER TABLE [dbo].[HostelInstallment]  WITH CHECK ADD  CONSTRAINT [FK_HostelInstallment_School] FOREIGN KEY([School_ID])
REFERENCES [dbo].[School] ([SchoolID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HostelInstallment] CHECK CONSTRAINT [FK_HostelInstallment_School]
GO
ALTER TABLE [dbo].[JM]  WITH CHECK ADD  CONSTRAINT [FK_JM_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[JM] CHECK CONSTRAINT [FK_JM_Supplier]
GO
ALTER TABLE [dbo].[JMB]  WITH CHECK ADD  CONSTRAINT [FK_JMB_JM] FOREIGN KEY([Sub_No])
REFERENCES [dbo].[JM] ([SubNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[JMB] CHECK CONSTRAINT [FK_JMB_JM]
GO
ALTER TABLE [dbo].[MarksEntry_Join]  WITH CHECK ADD  CONSTRAINT [FK_MarksEntry_Join_MarksEntry] FOREIGN KEY([MarksID])
REFERENCES [dbo].[MarksEntry] ([M_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MarksEntry_Join] CHECK CONSTRAINT [FK_MarksEntry_Join_MarksEntry]
GO
ALTER TABLE [dbo].[MarksEntry_Join]  WITH CHECK ADD  CONSTRAINT [FK_MarksEntry_Join_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MarksEntry_Join] CHECK CONSTRAINT [FK_MarksEntry_Join_Subject]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Subject]
GO
ALTER TABLE [dbo].[Resulting]  WITH CHECK ADD  CONSTRAINT [FK_Resulting_Result] FOREIGN KEY([Result_ID])
REFERENCES [dbo].[Result] ([ResultID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resulting] CHECK CONSTRAINT [FK_Resulting_Result]
GO
ALTER TABLE [dbo].[Return_Staff]  WITH CHECK ADD  CONSTRAINT [FK_Return_Staff_BookIssue_Staff] FOREIGN KEY([IssueID])
REFERENCES [dbo].[BookIssue_Staff] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Return_Staff] CHECK CONSTRAINT [FK_Return_Staff_BookIssue_Staff]
GO
ALTER TABLE [dbo].[Return_Student]  WITH CHECK ADD  CONSTRAINT [FK_Return_Student_BookIssue_Student] FOREIGN KEY([IssueID])
REFERENCES [dbo].[BookIssue_Student] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Return_Student] CHECK CONSTRAINT [FK_Return_Student_BookIssue_Student]
GO
ALTER TABLE [dbo].[Scheduling]  WITH CHECK ADD  CONSTRAINT [FK_Scheduling_Scheduling] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[ExamSchedule] ([ScheduleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Scheduling] CHECK CONSTRAINT [FK_Scheduling_Scheduling]
GO
ALTER TABLE [dbo].[School]  WITH CHECK ADD  CONSTRAINT [FK_School_SchoolTypes] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[SchoolTypes] ([CategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[School] CHECK CONSTRAINT [FK_School_SchoolTypes]
GO
ALTER TABLE [dbo].[SchoolFees]  WITH CHECK ADD  CONSTRAINT [FK_CourseFee_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SchoolFees] CHECK CONSTRAINT [FK_CourseFee_Class]
GO
ALTER TABLE [dbo].[SchoolFees]  WITH CHECK ADD  CONSTRAINT [FK_CourseFee_Fee] FOREIGN KEY([FeeID])
REFERENCES [dbo].[Fee] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SchoolFees] CHECK CONSTRAINT [FK_CourseFee_Fee]
GO
ALTER TABLE [dbo].[SchoolFees]  WITH CHECK ADD  CONSTRAINT [FK_SchoolFees_School] FOREIGN KEY([School_ID])
REFERENCES [dbo].[School] ([SchoolID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SchoolFees] CHECK CONSTRAINT [FK_SchoolFees_School]
GO
ALTER TABLE [dbo].[SchoolFeesPayment]  WITH CHECK ADD  CONSTRAINT [FK_SchoolFeesPayment_Student] FOREIGN KEY([Admission_No])
REFERENCES [dbo].[Student] ([AdmissionNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SchoolFeesPayment] CHECK CONSTRAINT [FK_SchoolFeesPayment_Student]
GO
ALTER TABLE [dbo].[StaffAttendance]  WITH CHECK ADD  CONSTRAINT [FK_StaffAttendance_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StaffAttendance] CHECK CONSTRAINT [FK_StaffAttendance_Employee]
GO
ALTER TABLE [dbo].[StaffBusFeesPayment]  WITH CHECK ADD  CONSTRAINT [FK_StaffBusFeesPayment_StaffBusHolder] FOREIGN KEY([StaffBusHolder_ID])
REFERENCES [dbo].[StaffBusHolder] ([StaffBusHolderID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StaffBusFeesPayment] CHECK CONSTRAINT [FK_StaffBusFeesPayment_StaffBusHolder]
GO
ALTER TABLE [dbo].[StaffBusHolder]  WITH CHECK ADD  CONSTRAINT [FK_StaffBusHolder_Bus] FOREIGN KEY([Bus_ID])
REFERENCES [dbo].[Bus] ([BusID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StaffBusHolder] CHECK CONSTRAINT [FK_StaffBusHolder_Bus]
GO
ALTER TABLE [dbo].[StaffBusHolder]  WITH CHECK ADD  CONSTRAINT [FK_StaffBusHolder_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StaffBusHolder] CHECK CONSTRAINT [FK_StaffBusHolder_Employee]
GO
ALTER TABLE [dbo].[StaffBusHolder]  WITH CHECK ADD  CONSTRAINT [FK_StaffBusHolder_Locations] FOREIGN KEY([Location_ID])
REFERENCES [dbo].[Locations] ([LocationID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StaffBusHolder] CHECK CONSTRAINT [FK_StaffBusHolder_Locations]
GO
ALTER TABLE [dbo].[Staffdiscount]  WITH CHECK ADD  CONSTRAINT [FK_Staffdiscount_Employee] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffdiscount] CHECK CONSTRAINT [FK_Staffdiscount_Employee]
GO
ALTER TABLE [dbo].[StaffPayment]  WITH CHECK ADD  CONSTRAINT [FK_StaffPayment_Employee] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Employee] ([EMPID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StaffPayment] CHECK CONSTRAINT [FK_StaffPayment_Employee]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_ClassSection] FOREIGN KEY([ClassSection_ID])
REFERENCES [dbo].[ClassSection] ([ClassSectionID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_ClassSection]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_School] FOREIGN KEY([School_ID])
REFERENCES [dbo].[School] ([SchoolID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_School]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Sessions] FOREIGN KEY([Session_ID])
REFERENCES [dbo].[Sessions] ([SessionID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Sessions]
GO
ALTER TABLE [dbo].[StudentBusHolder]  WITH CHECK ADD  CONSTRAINT [FK_StudentBusHolder_Bus] FOREIGN KEY([Bus_ID])
REFERENCES [dbo].[Bus] ([BusID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentBusHolder] CHECK CONSTRAINT [FK_StudentBusHolder_Bus]
GO
ALTER TABLE [dbo].[StudentBusHolder]  WITH CHECK ADD  CONSTRAINT [FK_StudentBusHolder_Locations] FOREIGN KEY([Location_ID])
REFERENCES [dbo].[Locations] ([LocationID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentBusHolder] CHECK CONSTRAINT [FK_StudentBusHolder_Locations]
GO
ALTER TABLE [dbo].[StudentBusHolder]  WITH CHECK ADD  CONSTRAINT [FK_StudentBusHolder_Student] FOREIGN KEY([Admission_No])
REFERENCES [dbo].[Student] ([AdmissionNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentBusHolder] CHECK CONSTRAINT [FK_StudentBusHolder_Student]
GO
ALTER TABLE [dbo].[StudentDiscount]  WITH CHECK ADD  CONSTRAINT [FK_StudentDiscount_Student] FOREIGN KEY([Admission_No])
REFERENCES [dbo].[Student] ([AdmissionNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentDiscount] CHECK CONSTRAINT [FK_StudentDiscount_Student]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Class]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_School] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School] ([SchoolID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_School]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Sessions] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([SessionID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Sessions]
GO
ALTER TABLE [dbo].[UserGrants]  WITH CHECK ADD  CONSTRAINT [FK_UserGrants_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UserGrants] CHECK CONSTRAINT [FK_UserGrants_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Designations] FOREIGN KEY([Designation_ID])
REFERENCES [dbo].[Designations] ([DesignationID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Designations]
GO
USE [master]
GO
